body{
    position: relative;    
}

body .joystick {
    position: absolute;
    width: 700px;
    height: 350px;
    background-position: center;
}
body h1{
    text-align: center;
}
body h2{
    margin-top: 400px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
#cw{
    position: absolute;
    top: 265px;
    left: 245px;
}
#ccw{
    position: absolute;
    top: 265px;
    left: 420px;
}